<section id="projects">
    <h2>My Projects</h2>
    <div class="project-grid">
      <div class="project-card">
        <div class="project-thumbnail">
          <img src="img/project-thumbnails/project1.jpg" alt="Project 1 Thumbnail">
        </div>
        <div class="project-details">
          <h3>Project 1</h3>
          <p>
            [Provide a brief description of the project, including the technologies used.]
          </p>
          <div class="project-tags">
            <span class="tag">Python</span>
            <span class="tag">Machine Learning</span>
          </div>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-thumbnail">
          <img src="img/project-thumbnails/project2.jpg" alt="Project 2 Thumbnail">
        </div>
        <div class="project-details">
          <h3>Project 2</h3>
          <p>
            [Provide a brief description of the project, including the technologies used.]
          </p>
          <div class="project-tags">
            <span class="tag">Web Development</span>
            <span class="tag">JavaScript</span>
          </div>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-thumbnail">
          <img src="img/project-thumbnails/project3.jpg" alt="Project 3 Thumbnail">
        </div>
        <div class="project-details">
          <h3>Project 3</h3>
          <p>
            [Provide a brief description of the project, including the technologies used.]
          </p>
          <div class="project-tags">
            <span class="tag">Data Visualization</span>
            <span class="tag">D3.js</span>
          </div>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
    </div>
  </section>